@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --scroll-width: 6px;
  --scroll-height: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: calc(100vh + env(safe-area-inset-top));
  overflow: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-height);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05) !important;
  border-radius: 100px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}

.mobile__layout,
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* overscroll-behavior-y: contain; */
}

.mobile__layout ::-webkit-scrollbar {
  display: none;
}

/* Input type date */
input[type='date']::-webkit-calendar-picker-indicator {
  width: 17px;
  height: 17px;
}
